{
  "openapi": "3.0.0",
  "info": {
    "title": "FixNICS DRS API",
    "description": "MELINDA FixNICS DRS integration and reports service",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "http://fixnics-dev01.echo.tylerfederal.com/api/endpoints"
    }
  ],
  "paths": {
    "/JCFilePostHandler/example": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Returns text notifying which user account has accessed the service",
        "description": "Returns the current user account who is testing the service",
        "responses": {
          "201": {
            "description": "User Found"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Service not found"
          }
        }
      }
    },
    "/JCFilePostHandler/postjcorder/{parentId}": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "This is the method we use to post a JandC order file to fixnics.",
        "parameters": [
          {
            "in": "path",
            "name": "parentId",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ParentId"
          }
        ],
        "description": "The URL will contain the parentId which is the trackingId of the pre-existing row in the T_JC table that is considered to be the parent object that is the owner of the file we are posting.",
        "responses": {
          "201": {
            "description": "Successful upload"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Service not found"
          }
        }
      }
    },
    "/JCPostHandler/jcpkg/{id}": {
      "get": {
        "tags": [
          "GET J&C Package"
        ],
        "summary": "API for courts to retrieve package information from FixNICs",
        "description": "API to allow courts to get package information for Fixnics. This method will return XML object in the body of the request. The xml object will have the structure described below.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of J and C package that needs to be fetched"
          }
        ],
        "responses": {
          "201": {
            "description": "Package was returned",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/JandC"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "J and C package not found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/JCPostHandler/createjandc": {
      "post": {
        "tags": [
          "POST J&C Package"
        ],
        "summary": "API for courts to post dispositions in FixNICs",
        "description": "API to allow courts to post disposition packages to Fixnics. This method will accept XML object in the body of the request. The xml object will have the structure described below.",
        "requestBody": {
          "description": "Optional description in *Markdown*",
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/JandC"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Package was received",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Service not found"
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "success": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "errorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean",
            "description": "Determines if there is an error"
          },
          "message": {
            "type": "string",
            "description": "Returns the error message"
          }
        }
      },
      "JandC": {
        "type": "object",
        "properties": {
          "Header": {
            "type": "object",
            "description": "The header object contains the XML schema with attributes that identify the specified court",
            "properties": {
              "court": {
                "type": "string"
              },
              "courtId": {
                "type": "integer"
              },
              "ecfHost": {
                "type": "string"
              },
              "ecfVersion": {
                "type": "string"
              },
              "runTime": {
                "type": "string"
              },
              "dateSelected": {
                "type": "string"
              },
              "csDftTotal": {
                "type": "string"
              },
              "docTotal": {
                "type": "string"
              },
              "ctoday": {
                "type": "string"
              }
            }
          },
          "Entry": {
            "type": "object",
            "description": "The entry object contains the XML schema with attributes that identify the court case",
            "properties": {
              "caseId": {
                "type": "integer"
              },
              "caseNum": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "caseType": {
                "type": "string"
              },
              "defendant": {
                "type": "string"
              },
              "prisonerId": {
                "type": "string"
              },
              "dftNum": {
                "type": "integer"
              },
              "filedDate": {
                "type": "string"
              },
              "entryDate": {
                "type": "string"
              },
              "dftRepresentedBy": {
                "type": "object",
                "properties": {
                  "reprByName": {
                    "type": "string"
                  },
                  "reprByEmail": {
                    "type": "string"
                  },
                  "reprByPhone": {
                    "type": "string"
                  },
                  "reprByOffice": {
                    "type": "string"
                  }
                }
              },
              "usaRepresentedBy": {
                "type": "object",
                "properties": {
                  "reprByName": {
                    "type": "string"
                  },
                  "reprByEmail": {
                    "type": "string"
                  },
                  "reprByPhone": {
                    "type": "string"
                  },
                  "reprByOffice": {
                    "type": "string"
                  }
                }
              },
              "countsAll": {
                "type": "object",
                "properties": {
                  "pendingCountOrPendingCountNumberOrPendingDisposition": {
                    "type": "object",
                    "properties": {
                      "pending": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "object",
                            "properties": {
                              "namespaceURI": {
                                "type": "string"
                              },
                              "localPart": {
                                "type": "string"
                              },
                              "prefix": {
                                "type": "string"
                              }
                            }
                          },
                          "value": {
                            "type": "object"
                          },
                          "nil": {
                            "type": "boolean"
                          },
                          "globalScope": {
                            "type": "boolean"
                          },
                          "typeSubstitued": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "highestOffenseLevelOpen": {
                    "type": "string"
                  },
                  "terminated": {
                    "type": "object",
                    "properties": {
                      "terminatedCount": {
                        "type": "string"
                      },
                      "terminatedCountNumber": {
                        "type": "object"
                      },
                      "terminatedDisposition": {
                        "type": "object"
                      }
                    }
                  },
                  "highestOffenseLevelTerminated": {
                    "type": "string"
                  },
                  "complaints": {
                    "type": "object",
                    "properties": {
                      "complaintsText": {
                        "type": "string"
                      },
                      "complaintsCountNumber": {
                        "type": "string"
                      },
                      "complaintsDisposition": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "alsoKnownAs": {
                "type": "string"
              },
              "pacts": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "type": "integer"
                  },
                  "caseDktNo": {
                    "type": "string"
                  },
                  "dob": {
                    "type": "string"
                  },
                  "sex": {
                    "type": "string"
                  },
                  "race": {
                    "type": "string"
                  },
                  "height": {
                    "type": "integer"
                  },
                  "weight": {
                    "type": "integer"
                  },
                  "eyeColor": {
                    "type": "string"
                  },
                  "hairColor": {
                    "type": "string"
                  },
                  "ssn": {
                    "type": "string"
                  },
                  "stateIdNo": {
                    "type": "string"
                  },
                  "fbi": {
                    "type": "string"
                  },
                  "ice": {
                    "type": "string"
                  },
                  "usms": {
                    "type": "string"
                  },
                  "driverLicenseNo": {
                    "type": "string"
                  },
                  "alternateName": {
                    "type": "object",
                    "properties": {
                      "pactsAltName": {
                        "type": "string"
                      }
                    }
                  },
                  "adjudicationDate": {
                    "type": "string"
                  },
                  "convictedOffense": {
                    "type": "object",
                    "properties": {
                      "adjudicatedStatusOrCitationDescrOrCitRecId": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "object",
                            "properties": {
                              "namespaceURI": {
                                "type": "string"
                              },
                              "localPart": {
                                "type": "string"
                              },
                              "prefix": {
                                "type": "string"
                              }
                            }
                          },
                          "value": {
                            "type": "object"
                          },
                          "nil": {
                            "type": "boolean"
                          },
                          "globalScope": {
                            "type": "boolean"
                          },
                          "typeSubstitued": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "sentence": {
                    "type": "object",
                    "properties": {
                      "prisonTime": {
                        "type": "string"
                      },
                      "prisonStartDate": {
                        "type": "string"
                      },
                      "prisonMeasure": {
                        "type": "object"
                      },
                      "tsr": {
                        "type": "object"
                      },
                      "tsrStateDate": {
                        "type": "string"
                      },
                      "tsrMeasure": {
                        "type": "object"
                      },
                      "fine": {
                        "type": "string"
                      },
                      "assessment": {
                        "type": "string"
                      },
                      "restitution": {
                        "type": "string"
                      },
                      "sentenceType": {
                        "type": "string"
                      },
                      "sentenceTypeId": {
                        "type": "string"
                      },
                      "createdOnSentence": {
                        "type": "string"
                      },
                      "conditionalRelease": {
                        "type": "string"
                      },
                      "pactsSentenceDate": {
                        "type": "string"
                      },
                      "bopProjectedReleaseDate": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "deSeqno": {
                "type": "integer"
              },
              "deDocNum": {
                "type": "integer"
              },
              "deDocId": {
                "type": "integer"
              },
              "docketText": {
                "type": "string"
              },
              "dpType": {
                "type": "string"
              },
              "docs": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "object",
                    "properties": {
                      "dmDescription": {
                        "type": "string"
                      },
                      "dmSizePages": {
                        "type": "string"
                      },
                      "docLocation": {
                        "type": "string"
                      },
                      "writeFile": {
                        "type": "string"
                      },
                      "docLink": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
